<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Group Fitness Go</name>
    <description>
        A basic scheduling app that can help JMU students find and sign up for Urec Group Fitness classes.
    </description>
    <author email="connerag@dukes.jmu.edu" >
        Alex Conner
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
